services:
  coqui-rest:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: coqui-rest
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - COQUI_MODEL_NAME=tts_models/multilingual/multi-dataset/xtts_v2
      - COQUI_MODEL_PATH=
      - COQUI_CONFIG_PATH=
      - COQUI_DEFAULT_LANGUAGE=tr
      - COQUI_DEFAULT_SPEAKER_WAV=speaker_xtts.wav
      - COQUI_USE_CUDA=true
      - COQUI_OUTPUT_DIR=/app/data/output
      - COQUI_SPEAKERS_DIR=/app/data/speakers
    volumes:
      - ./data/output:/app/data/output
      - ./data/speakers:/app/data/speakers
