services:
  piper-rest:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: piper-rest
    restart: unless-stopped
    ports:
      - "8030:8030"
    environment:
      - PIPER_MODELS_DIR=/app/data/models
      - PIPER_OUTPUT_DIR=/app/data/output
      - PIPER_VOICES_FILE=/app/voices.json
      - PIPER_DEFAULT_MODEL=tr_dfki_female
      - PIPER_MODEL_PATH=
      - PIPER_MODEL_URL=
      - PIPER_MODEL_CONFIG_URL=
      - PIPER_DEFAULT_SPEAKER=
      - HF_TOKEN=
    volumes:
      - ./data/models:/app/data/models
      - ./data/output:/app/data/output
